defaults:
  resources: {{ .Resources }}
{{- if .DefaultKits }}
  kits:
{{- range .DefaultKits }}
    - {{ . }}
{{- end }}
{{- else }}
  kits: []
{{- end }}
agents:
  {{ .RecipeName }}:
    sbx_agent: {{ .SbxAgent }}
